.callout {
    padding: 20px;
    background-color: #ededed;
    border-left: 6px solid #9e9d9d;
    margin-bottom: 15px;
}

.figcap {
  color: gray;
  font-style: italic;
}

.float-fig-right {
  display: table;
  float: right;
  padding-left: 30px;
  padding-bottom: 10px;
}

.float-fig-left {
  display: table;
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}
