/* BASE */

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300; }

h1 {
  font-size: 2.4em;
  margin: .75em 0 .5em 0; }

.tutorialTitle {
  font-size: 1.75em;
}

h2 {
  font-size: 2.0em;
  margin: .75em 0 .5em 0; }

h3 {
  font-size: 1.6em;
  margin: .75em 0 .5em 0; }

h4 {
  font-size: 1.2em;
  margin: .75em 0 .5em 0; }

/*a:hover, a:focus {
    color: blue;
}*/

/* CUSTOM STYLES*/

.topicsList .topic {
  background-image: none;
}

.topicsList .topic.current {
  font-weight: 900;
  text-decoration: underline;
}

.figcap {
  color: gray;
  font-style: italic;
}

.float-fig-right {
  display: table;
  float: right;
  padding-left: 30px;
  padding-bottom: 10px;
}

.float-fig-left {
  display: table;
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}

.paneCloser {
  display: block;
  color: blue;
}

.banner {
 width: 100%;
 max-height: 50%;
}

.image-column-container {
  display: flex;
  flex-direction: column;

}

.image-column-container p {
  text-align: center;
}

.image-column-container img {
  padding: 1rem 0;
}


.details-callout {
  padding: 4px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

.details-callout p {
  background-color: white;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
